/* reddish color #F26064 */

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i');

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');


* {
  box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;

}@media screen and (max-width:809px) {
  html, body {
    height: 100%;
  }
}


.header {
  width: 100%;
  background-image: url(../img/grain.jpg);
  background-size: cover;
  height: 100%;
}

.dimmer {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.rightNav {
  padding-left: 20em;
  padding-right: 10em;
  display: flex;
  float: right;
  flex-wrap: nowrap;
}@media screen and (max-width: 1040px) {
  .rightNav {
    display: none;
  }
}

#signUp {
  margin-top: 2.5em;
  margin-left: 2.5em;
  color: #fff;
  position: relative;
  font-size: 1.5em;
  font-family: 'Chivo', sans-serif;
  border: 1.5px solid white;
  padding: 0.5em 2em 0.5em 2em;
}

.regTags {
  margin: 3em 2.5em 0 2.5em;
  color: #FFF;
  position: relative;
  text-decoration: none;
  font-size: 1.5em;
  font-family: 'Chivo', sans-serif;
  font-weight: 200;
}@media screen and (max-width: 1180px) {
  .rightNav {
    font-size: 0.8em;
  }
}

.rightNav a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #F26064;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.rightNav a:hover {
  color: #FFF;
  text-decoration: none;
}

.rightNav a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  color: #FFF;
}



/* ********** Hamburger Icon & slide out menu ************/

.menu {
  position: relative;
  display: flex;
  top: 0;
  right: 0;
  width: 0;
  opacity: 0;
  height: 62px;
  background: rgba(2, 68, 68, 0.5);
  transition: all .35s ease;
}

.menu nav {
  float: right;
  margin-right: 100px;
  height: 62px;
  line-height: 60px;
  overflow: hidden;
}

nav a {
  position: relative;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  font: 12px 'Open Sans';
  text-decoration: none;
  font-weight: 700;
  margin-left: 50px;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  transition: all .25s ease;
}

nav a:hover {
  padding-bottom: 5px;
  border-bottom: 2px solid rgba(255, 255, 255, 1);
}



.menu.open {
  width: 100%;
  opacity: 1;
}

.button_container {
  position: fixed;
  width: 30px;
  height: 22px;
  left: 100px;
  top: 50px;
  cursor: pointer;
}

.button_container span {
  position: absolute;
  width: 100%;
  height: 2px;
  background: #FFF;
  transition: all .35s ease;
}

.top {
  top: 0px;
}

.button_container:hover .top {
  top: 2px;
}

.button_container.active:hover .top {
  top: 0px;
}

.middle {
  top: 10px;
}

.bottom {
  top: 20px;
}

.button_container:hover .bottom {
  top: 18px;
}

.button_container.active:hover .bottom {
  top: 20px;
}

.button_container.active .top {
  background: white;
  transform: translate(0px, 10px) rotate(-405deg);
}

.button_container.active .middle {
  opacity: 0;
}

.button_container.active .bottom {
  background: white;
  transform: translate(0px, -10px) rotate(-495deg);
}

@keframes underline {
  0% {
    border-bottom: 1px solid rgba(255, 255, 255, 0.0);
    padding-bottom: 0px;
  }
  100% {
    border-bottom: 1px solid white;
    padding-bottom: 5px;
  }
}
/********* Section One ************/
.sectionOne {
  display: flex;
  flex-direction: row;
  padding: 10em 5em 5em 5em;
  width: 100%;
  height: 80%;
}

.hr {
  border: none;
}
.topLine {
  border: 3px solid;
  border-right: none;
  border-bottom: none;
  border-left: none;
  border-color: #F26064;
  padding: 1.7em;
  width: 10em;
}

.h3h3UnderLine {
  border: 3px solid;
  border-right: none;
  border-bottom: none;
  border-left: none;
  border-color: #F26064;
  padding: 1.6em;
  width: 8em;
}

.sectionText {
  display: flex;
  width: 70%;
  color: #FFF;
  flex-direction: column;
}

.sectionText h3 {
  font-family: 'Chivo', sans-serif;
  font-size: 2em;
  padding-top: 2em;
}

.sectionText p {
  font-size: 6vw;
  font-family: 'Chivo', sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
}@media screen and (max-width: 809px) {
  .sectionText p {
    font-size: 50px;
  }
}

.aRow {
  display: flex;
  flex-direction: row;
}

.aRow a {
  padding: 2em;
}

.sectionVideo {
  display: flex;
  width: 30%;
}

.hidden {
  display: none!important;
}
